<style>
  .container { width: 100%; max-width: 800px; padding: 10px; align-items:
  center; display: flex; flex-direction: column; }
</style>

<section class="container">
  <h1>Welcome to {{application}}!</h1>
  <p>Thank you for creating an account with us. To confirm your account, please
    click the button below:</p>
  <a
    href="{{link}}"
    target="_blank"
    style="display: inline-block; background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;"
  >Confirm Account</a>
  <p>If you did not create an account with us, please ignore this email.</p>
</section>